

.container{
    max-width: 1450px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    text-align: center;
}
p{
    margin: 0;
}
h1,h2{
margin: 0%;
}
a{
    text-decoration: none;
}



/*header*/
.header{
    height: 1080px;
}
.header_conteiner{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header_img{
    position: absolute;
    max-width: 1920px;
    max-height: 1080px;
}
.header_conteiner_content{
    position: absolute;
    margin-top: 156px;
    width: 550px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    border:5px solid #f4d4a5 ;
    border-radius: 50%;
    background-color: white;
}
.header_container_img_logo{
    width: 39px;
    height: 30px;
    margin-top: 20px;
}
.header_container_logo_text{
    margin-top: 20px;
    font-size: 35px;
    color: #bf4200;
}
.header_container_telephone{
    margin-top: 30px;
    font-size: 35px;
    color: black;
}
.header_container_heading{
    margin-top: 50px;
    max-width: 430px;
    text-align: center;
    font-size: 50px;
    color: #1fad26;
}
.header_container_img_podarok{
    margin-top: 50px;
}



/*hero*/
.hero{
    height: 750px;
}
.hero_container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.hero_container_heading{
    margin-top: 80px;
    max-width: 800px;
    text-align: center;
    font-size: 32px;
    color: #f4d4a5;
}
.hero_container_descripcion{
    margin-top: 80px;
    font-size: 30px;
}
.hero_container_descripcion_2{
    margin-top: 50px;
    max-width: 1000px;
    text-align: center;
    font-size: 30px;
}
.hero_container_heading_garantii{
    margin-top: 45px;
    font-size: 32px;
    color: black;
}
.hero_container_img{
    
    margin-top: 100px;
}
/*hero_do*/
.hero_do{
    height: 4625px;
    margin-top: 50px;
}
.hero_do_container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.hero_do_container_heading{
    font-size: 41px;
    color:#d0662d ;
}
.hero_do_container_card{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 110px;
}
.hero_do_container_card_heading{
    font-size: 32px;
    color: black;
}
.hero_do_container_card_razmer{
    font-size: 25px;
    color: black;
}
.hero_do_container_card_plohad{
    font-size: 25px;
    color: black;
}
.hero_do_container_card_cena{
    font-size: 25px;
    color: #17753b;
}
.hero_do_container_card_dom{
    margin-top: 30px;
}
.hero_do_container_card_chercheg{
    margin-top: 30px;
}




/*dowlond_catalog*/

.dowlond_catalog{
    height: 300px;
    margin-top: 180px;
    background-color: #f4d4a5;
}
.dowlond_catalog_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.dowlond_catalog_container_img{
    margin-top: 40px;
}
.dowlond_catalog_container_border{ 
border: 5px solid #effd15;
background: #17753b;
padding: 25px 35px;
}

.dowlond_catalog_link{
   border-bottom: 2px solid #fff;
    color: white;
    font-size: 32px;
}

/*three*/

.three{
    margin-top: 120px;
    height: 1335px;
}
.three_container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.three_container_heading{
font-size: 41px;
font-weight: bold;
color: #d07a2d;
}

.three_container_heading_descripcion{
    margin-top: 50px;
    font-size: 25px;
    color: black;
}

.three_container_doma{
    margin-top: 70px;

}

.three_container_opilki{
    margin-top: 120px;
}
/*footer*/
.footer{
    height: 360px;
    margin-top: 180px;
}
.footer_container{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.footer_conteiner_link_tel{
    font-size: 50px;
    color: black;
}
.footer_conteiner_link_email{
    margin-top: 90px;
    font-size: 30px;
    color: #2f8bc5;
}











/* monitors and laptops */
@media (min-width: 1240px)  {
    .container{
        max-width: 1200px;
    }
    .hero_do{
        margin-top: 100px;
    }
}

/* tablet */
@media (min-width: 1400px)and (max-width:1920px){
    .container{ max-width: 1300px;}
    .img{max-width: 1400px;
    height: auto;}
    .hero_do{
        margin-top: 150px;
    }
}
@media (min-width: 1024px) and (max-width: 1240px)  {
    .container{
        max-width: 900px;}
        .img{max-width: 1024px;
            height: auto;}
            .hero_do{
                margin-top: 150px;
            }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container{
        max-width: 600px;
    }
    .header_conteiner_content{
        max-width: 360px;
    max-height: 350px;}

    .header_container_img_podarok{
        margin-top: 10px;
        max-width: 150px;
        max-height: 150px;
    }

    .header_container_heading{
        margin-top: 25px;
        font-size: 38px;
    }
    .img{max-width: 768px;
        height: auto;}
        .hero_do_container_heading{
            margin-top: 250px;
        }
}

/* mobile */
@media (max-width: 768px) {
    .img{max-width: 500px;
        height: auto;}

        .container{
            max-width: 600px;
        }
        .header_conteiner_content{
            max-width: 360px;
        max-height: 350px;}
    
        .header_container_img_podarok{
            margin-top: 10px;
            max-width: 150px;
            max-height: 150px;
        }
    
        .header_container_heading{
            margin-top: 25px;
            font-size: 38px;
        }
        .img{max-width: 360px;
            height: auto;}
        .hero_do{
                margin-top: 400px;
            }
    }


